<!DOCTYPE HTML>


<html>
<head>
<meta charset="utf-8">
<title><?="$title"; ?></title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h2><a href='index.php' class="navigation">Список</a></h2> <h2><a href='profile.php' class="navigation"><?= htmlspecialchars($isRegistered, ENT_QUOTES) ?> </a></h2><br><br>
<form method="post" action="<?= htmlspecialchars($currentPage, ENT_QUOTES) ?>">
	<input type='hidden' name='token' value="<?=$token ?>">
	<input type='hidden' name="exit" >
	<input type='submit' value="Выход">
</form>	
<br>
<br>


