<?php include "/templates/template.html"; ?>
<br>
<form action='index.php' method='post'>
	<input type="text" name="search">
	<input type="hidden" name="submitted" value="yes">
	<input type="submit" value="Поиск">
</form>
<br>
<table>
	<tr><th><a href='index.php?order=name&direction=<?php echo $directionName?>'>Студент</a></th><th><a href='index.php?order=groupindex&direction=
		<?php echo $directionGroup ?>'>Номер группы</a>
	</th><th><a href='index.php?order=points&direction=<?php echo $directionPoints ?>'>Баллы</a></th></tr>

	<?php foreach ($table as  $student) {
		
	echo "<tr><td>{$student->showName()} {$student->showSname()}</td><td>{$student->showGroupIndex()}</td><td>{$student->ShowPoints()}</td></tr>";
	}


?>