<br>
<form  method='post'><pre>

Имя          <input type="text" name="name" value="<?php echo htmlspecialchars($profile->showName()) ?>"> <font color="red"><?php echo $profile->errors['name']?></font>


Фамилия      <input type="text" name="sname" value="<?php echo htmlspecialchars($profile->showSname()) ?>"><font color="red"><?php echo  $profile->errors['sname']?></font>


Пол          <select size="1" name="sex"><option disabled> Выберите пол</option>
 <option value="М" <?php if($profile->showSex()=='М'): ?> selected<?php endif; ?>>Мужской</option>
<option value="Ж"  <?php if($profile->showSex()=='Ж'): ?> selected<?php endif; ?>>Женский</option></select>


Почта        <input type="text" name="email" value="<?php echo htmlspecialchars($profile->showEmail()) ?>"> <font color="red"><?php echo $profile->errors['email']?></font>


Группа       <input type="text" name="groupindex" value="<?php echo htmlspecialchars($profile->showGroupIndex()) ?>"> <font color="red"><?php echo $profile->errors['groupindex']?></font>


Баллы        <input type="text" name="points" value="<?php echo htmlspecialchars($profile->showPoints()) ?>"><font color="red"> <?php echo $profile->errors['points']?></font>


Год рождения <input type="text" name="birthdate" value="<?php echo htmlspecialchars($profile->showBirthDate()) ?>"><font color="red"> <?php echo $profile->errors['birthdate']?></font>
<input type='hidden' name='submitted' value='yes'>

<input type='submit' value='<?php echo htmlspecialchars($value) ?>'>
</pre>
</form>