<br>
<form  method='post'><pre>

Имя          <input type="text" name="name" value="<?= htmlspecialchars($profile->showName()) ?>"> <font color="red"><?= $profile->errors['name']?></font>


Фамилия      <input type="text" name="sname" value="<?= htmlspecialchars($profile->showSname()) ?>"><font color="red"><?=  $profile->errors['sname']?></font>


Пол          <select size="1" name="sex"><option disabled selected> Выберите пол</option>
 <option value="Male" <?php if($profile->showSex()=='Male'): ?> selected<?php endif; ?>>Мужской</option>
<option value="Female"  <?php if($profile->showSex()=='Female'): ?> selected<?php endif; ?>>Женский</option></select><font color="red"><?= $profile->errors['sex'] ?></font>


Почта        <input type="text" name="email" value="<?= htmlspecialchars($profile->showEmail()) ?>"> <font color="red"><?= $profile->errors['email']?></font>


Группа       <input type="text" name="groupindex" value="<?= htmlspecialchars($profile->showGroupIndex()) ?>"> <font color="red"><?= $profile->errors['groupindex']?></font>


Баллы        <input type="text" name="points" value="<?= htmlspecialchars($profile->showPoints()) ?>"><font color="red"> <?= $profile->errors['points']?></font>


Год рождения <input type="text" name="birthdate" value="<?= htmlspecialchars($profile->showBirthDate()) ?>"><font color="red"> <?= $profile->errors['birthdate']?></font>
<input type='hidden' name='token' value='<?=$token ?>'>
<input type='hidden' name='submitted' value='yes'>

<input type='submit' value='<?= htmlspecialchars($value) ?>'>
</pre>
</form>
<font color="green"><?=htmlspecialchars($message) ?></font>