<br>
<form action='profile.php' method='post'><pre>

Имя          <<?php echo $tag ?> name="name"><?php echo $profile->showName()?></<?php echo $tag ?>> <?php echo $profile->errors['name']?>


Фамилия      <<?php echo $tag ?> name="sname"><?php echo $profile->showSname()?></<?php echo $tag ?>><?php echo  $profile->errors['sname']?>


Пол          <select size="1" name="sex"><option disabled> Выберите пол</option>
 <option value="М">Мужской</option>
<option value="Ж">Женский</option></select>


Почта        <<?php echo $tag ?> name="email"><?php echo $profile->showEmail()?></<?php echo $tag ?>> <?php echo $profile->errors['email']?>


Группа       <<?php echo $tag ?> name="groupindex"><?php echo $profile->showGroupIndex()?></<?php echo $tag ?>> <?php echo $profile->errors['groupindex']?>


Баллы        <<?php echo $tag ?> name="points"><?php echo $profile->showPoints()?></<?php echo $tag ?>> <?php echo $profile->errors['points']?>


Год рождения <<?php echo $tag ?> name="birthdate"><?php echo $profile->showBirthDate()?></<?php echo $tag ?>> <?php echo $profile->errors['birthdate']?>
<input type='hidden' name='submitted' value='yes'>
<input type='submit' value='изменить'>
</pre>
</form>