<form action='register.php' method='post'><pre>
Имя               <input type="text" name="name"> <?php echo $profile->errors['name'] ?>


Фамилия           <input type="text" name="sname"> <?php echo $profile->errors['sname'] ?>


Пол               <select size="1" name="sex"><option disabled> Выберите пол</option> 
<option value="М">Мужской</option>
<option value="Ж">Женский</option></select>


Номер группы      <input type="text" name="groupindex"> <?php echo $profile->errors['groupindex'] ?>


Электронная почта <input type="text" name="email"> <?php echo $profile->errors['email'] ?>


Баллы             <input type="text" name="points"> <?php echo $profile->errors['points'] ?>


Год рождения      <input type="text" name="birthdate"> <?php echo $profile->errors['birthdate'] ?>
<input type="hidden" name="submitted" value="yes">

<input type="submit" value="Зарегестрироваться">
</form>
<br>